name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      tag:
        description: Tag for manually running CI first code check workflow
        required: False
        default: ''

permissions:
  contents: read

jobs:
  test:
    name: first code check / python-3.12 / ubuntu-latest
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Install dependencies
      run: uv sync --all-extras --dev
    - name: Linting with Ruff
      run: uv run ruff check --output-format=github --target-version=py312
    - name: Test with pytest
      run: uv run pytest
